<h1 class="center">Food Ideas</h1>
<div class="row">
  <% @apps.each do |app| %>
    <div class="col s12 m3 ">
      <div class="card light-green darken-2">
          <span class="card-title light-green darken-2"><%= app.title %></span>
        <div class="card-content white-text ">
          <span class="card-title "><%= app.title %></span>
          <p><%= app.description %></p>
        </div>
        <div class="card-action">
            <a class="btn orange darken-3" href="/apps/<%= app.id %>/edit">Edit</a>
            <form action="/apps/<%= app.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn red">Delete</button>
            </form>
          </div>
      </div>
    </div>
  <% end %>
</div>